extends layout

block content
  script(src="http://127.0.0.1:10002/provisioning_api.js")
  script.
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '359821740813622',       // App ID from the app dashboard
        channelUrl : '//ryanseys.com/provision', // Channel file for x-domain comms
        status     : true,                    // Check Facebook Login status
        xfbml      : true                     // Look for social plugins on the page
      });

      FB.getLoginStatus(function(response) {
        if(response.status == "connected") {
          FB.api('/me', function(response) {
            navigator.id.beginProvisioning(function(email, certDuration) {
              if(email == (response.username + "@facebook.com")) {
                navigator.id.genKeyPair(function(publicKey) {
                  generateServerSide(email, publicKey, certDuration, function (certificate) {
                    if(certificate) {
                      navigator.id.registerCertificate(certificate);
                    }
                    else {
                      navigator.id.raiseProvisioningFailure('user is not authenticated as target user');
                    }
                  });
                });
              }
              else {
                navigator.id.raiseProvisioningFailure('user is not authenticated as target user');
              }
            });
          });
        }
        else {
          navigator.id.raiseProvisioningFailure('user is not authenticated as target user');
        }
      });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    // alert('seeing if signed in!');
    function generateServerSide(email, pubkey, certDur, callback) {
      // here check the login status of this email
      var data = JSON.stringify({
        duration : certDur,
        pubkey : pubkey,
        email : email
      });

      $.ajax( {
        url: '/certify',
        type: 'post',
        data: data,
        headers: {
          "Content-Type": 'application/json; charset=utf-8'  //for object property name, use quoted notation shown in second
        },
        dataType: "json",
        success: function(returndata) {
          if(returndata.success) {
            return callback(returndata.certificate);
          }
          else {
            return callback(null);
          }
        }
      });
    }
